/* header */

._header {
    height: 96px;
    border: 1px solid red;
}


/* _header_top */

._header_top {
    height: 56px;
    background-color: #2874f0;
    position: fixed;
    display: flex;
    flex: auto;
    width: 100%;
    color: #f0f0f0;
    z-index: 10;
    flex-direction: row;
    align-items:center;
}


/* header _header_bottom */

.__header_bottom {
    height: 40px;
    background-color: #ffffff;
}


/* outer container */

._heading {
    width: 99%;
    height: 11406px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #f1f3f6;
}


/* inside outer cintainer main1 */

._main1 {
    height: 280px;
    margin-top: 8px;
    border: 1px dashed red;
    background-color: #ffffff;
}


/* inside outer cintainer main2 */

._main2 {
    height: 362px;
    margin-top: 10px;
    border-top: 1px solid #ebebeb;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}


/* inside outer cintainer main3 */

._main3 {
    height: 238px;
    margin-top: 20px;
    border: 1px dashed blue;
}


/* inside outer cintainer main4 */

._main4 {
    height: 352px;
    margin-top: 11px;
    border: 1px dashed #0000;
    background-color: #ffffff;
}


/* inside outer cintainer main5 */

._main5 {
    height: 237px;
    margin-top: 10px;
    border: 1px dashed #476947;
}


/* inside outer cintainer main6 */

._main6 {
    height: 377px;
    margin-top: 10px;
    border: 1px dashed red;
    border-top: 1px solid #e2e2e2;
}


/* inside outer cintainer main7 */

._main7 {
    height: 352px;
    margin-top: 11px;
    border: 1px dashed #0000;
    background-color: #ffffff;
}


/* inside outer cintainer main8 */

._main8 {
    height: 237px;
    margin-top: 10px;
    border: 1px dashed #476947;
}


/* inside outer cintainer main9 */

._main9 {
    height: 377px;
    margin-top: 10px;
    border-top: 1px solid #e2e2e2;
}


/* inside outer cintainer main10 */

._main10 {
    height: 352px;
    margin-top: 11px;
    border: 1px dashed #0000;
    background-color: #ffffff;
}


/* inside outer cintainer main11 */

._main11 {
    height: 237px;
    margin-top: 10px;
    border: 1px dashed #476947;
}


/* inside outer cintainer main12 */

._main12 {
    height: 377px;
    margin-top: 10px;
    border-top: 1px solid #e2e2e2;
}


/* inside outer cintainer main13 */

._main13 {
    height: 352px;
    margin-top: 11px;
    border: 1px dashed #0000;
    background-color: #ffffff;
}


/* inside outer cintainer main14 */

._main14 {
    height: 237px;
    margin-top: 10px;
    border: 1px dashed #476947;
}


/* inside outer cintainer main15 */

._main15 {
    height: 377px;
    margin-top: 10px;
    border-top: 1px solid #e2e2e2;
}


/* inside outer cintainer main16 */

._main16 {
    height: 377px;
    margin-top: 10px;
    border-top: 1px solid #e2e2e2;
}


/* footer */

._footer {
    height: 332px;
    background-color: #172337;
}
html,body{
  margin:0;
  padding:0;
  }
  .firstHalf{
  display:flex;
  justify-content:flex-end;
  width:60%;
  padding:0 20px;
  }
  .firstHalf .iconImg{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  }
  .firstHalf .headerImg{
  width:30%;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  margin-right:10px;
  }
  .firstHalf .searchBox{
  width:70%;
  display:flex;
  justify-content:flex-start;
  }
  .firstHalf .searchBox input{
      width:100%;
      padding: 0 16px;
      border-radius: 2px 0 0 2px;
      border: 0;
      outline: 0 none;
      font-size: 14px;
      height: 36px;
      width: 100%;
  }
  .secondHalf{
  display:flex;
  justify-content:flex-start;
  width:40%;
  padding:0 20px;
  align-items: center;
  }
  .secondHalf .actionButtons{
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 100%;
      line-height: 20px;
      font-size: 16px;
      letter-spacing: .1px;
      font-weight: 500;
      color: #fff;
      padding: 8px 30px;;
  }
  .explore{
      font-size: 11px;
      font-style: italic;
      margin-top: -1px;
  }
  .exploretext{
    color:white;
  }
  .plus{
  color: #ffe500;
      font-weight: 500;
      margin-right: 2px;
  }

  .login{
      color: #2874f0 !important;
      font-weight: 500 !important;
      background-color: #fff !important;
      cursor: pointer;
      border-radius: 2px !important;
      padding: 5px 40px !important;
      border: 1px solid #dbdbdb !important;
  }